{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex flex-column align-items-center" style="padding-top:70px; height:100%; width: 100%">
        <div class="card hover" style="width: 60%;">
            <div class="card-body">
            {{ form_start(newCategoryForm) }}

                <h1 style="margin-bottom:20px; font-size: 24px">Add new</h1>

                <div class="form-outline ">
                    {{ form_row(newCategoryForm.name) }}
                </div>

                <!-- Register button -->
                <button type="submit" class="btn btn-outline-success btn-block ">Add</button>

            {{ form_end(newCategoryForm) }}
            </div>
        </div>
    </div>

{% endblock %}