{% extends 'base.html.twig' %}

{% block body %}

    <section class="d-flex flex-row justify-content-center align-items-center h-100 mw-50" style="margin: 20px">
    
        <h3>Cette page ({{ ukSection }}) ne semble pas exister ...</h2>
        <a href="/">
            
        </a>
    </section>

    
{% endblock %}